<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>Codeial</h1>
            <p class="lead">A social media platform powered by Node.js, Express and MongoDB</p>
        </div>
    </div>

    <section id="post-form">
        <h4>Create Post: </h4>
        <form action="/posts/create-post" method="post">
            <div class="form-group">
                <textarea class="form-control" name="content" cols="30" rows="5"></textarea>
                <button type="submit" class="btn btn-success btn-block mt-2">Post</button>
            </div>
        </form>
    </section>

    <section id="all-user-posts">
        <% for( post of posts ) { %>
        <div class="card">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
                <!-- <h4 class="card-title">John Doe</h4> -->
                <p class="card-text"><%= post.content %></p>
                <span class="badge badge-pill badge-info">Author: <%= post.user.name %></span>
                <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
            </div>
        </div>
        <% } %>
    </section>
</div>